*{
  padding: 0;
  margin: 0;
}

body{
  padding: 20px;
}

.title{
  color: aqua;
}

.number{
  display: flex;
  max-width: 400px;
  margin: auto;
  justify-content: space-evenly;
  justify-items: center;
  color: antiquewhite;
}

.btn-dice{
  padding: 10px;
  margin: 10px;

}

.App {
  text-align: center;
  background-color: #0B2434;
}

.main{
  display: flex;
  justify-content: space-evenly;
  color: #F5F5F5;
  margin: auto;
  text-align: center;
  padding: 20px;
  max-height: 400px;
  max-width: 800px;
  border-radius: 5px;
}